
//Global Variables
$fontStack: "Neutraface2TextBook","Helvetica Neue",Helvetica,Arial,sans-serif;
$fontColor: #FFF;

//transition mixin for browsers
@mixin transition($val...) {
  -moz-transition: $val;
  -o-transition: $val;
  -webkit-transition: $val;
  transition: $val;
}


//an optional radius to include in your button
@mixin radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -webkit-border-radius: $radius;
}

//animation class to extend for tip
.tip-animation {
  @include transition(opacity 3s, margin-left .5s);
  margin-left: 5px;
  opacity: 100;
}

//static button style to extend
.button-static {
  @include transition(opacity 3s);
  border: none;
  color: $fontColor;
  cursor: pointer;
  font-family: $fontStack;
  opacity: 100;
  text-decoration: none;

  &:disabled {
    cursor: not-allowed;
    opacity: .40;
    &:hover {
      box-shadow: none;
      + .tip {
        @extend .tip-animation;
      }
    }
  }
  &:hover {
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
  }
}


//button theme to customize color, text size and size (colors can be specified in values that are supported, it is recommended to use pixel units for now as this is not responsive yet)
@mixin btn-theme($bgColor, $font-size, $width, $height) {
  @extend .button-static;
  background-color: $bgColor;
  font-size: $font-size;
  width: $width;
  height: $height;
}

// mixin for the disable animation where height will passed in to create a a stop sign icon relative to  the button's height
@mixin tip-generator($height) { 
  @if $height % 3 != 0 {
    $height: floor($height/3)*3;
  }
  @if $height < 12 {
    $height: 12px;
  }
  $borderWidth: $height/3;
  background-color: red;
  color: #FFF;
  display: inline-block;
  width: $height;
  height: $height;
  opacity: 0;
  margin-left: -20px;
  position: relative; 
  top: 0;
  vertical-align: middle;
  
  &:before {
    content: "!";
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: $borderWidth solid red;
    border-left: $borderWidth solid #fff;
    border-right: $borderWidth solid #fff;
    width: $borderWidth;
    height: 0;
    text-align: center;
    line-height: $height;
    font-size: $height/2;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: $borderWidth solid red;
    border-left: $borderWidth solid #fff;
    border-right: $borderWidth solid #fff;
    width: $borderWidth; //dynamic
    height: 0;
  }
}


//Styles for button-challenge.html (these would normally be in separate file but for testing purposes I am putting everything in one but realize this is bad structure!)


#new-button {
  @include btn-theme (blue, 16px, 190px, 45px);
  margin: 3px;
}

.tip {
  @include tip-generator(45px);
}


